.container {
    width: 80%;
    height: 450px;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.one {
    width: 20%;
    height: 450px;
    background: #000080;
    float: left;
    color: rgb(250,250,250);
}
.two {
    margin-left: 20%;
    height: 450px;
    background: rgb(250,250,250);
    color: #000080;
    padding: 10px;
}
.blurb{
    width: 80%;
    height: 20px;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1em;
    color: #000080;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
    font-size: 1.2em;
    color: #000080
}
