.toppart {
    width: 80%;
    height: 50px;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.container {
    width: 80%;
    height: 450px;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.one {
    width: 20%;
    height: 450px;
    background: #001a33;
    float: left;
    color: rgb(250,250,250);
}
.two {
    margin-left: 20%;
    height: 450px;
    background: rgb(250,250,250);
    color: #000080;
    padding: 10px;
}
.blurb{
    width: 80%;
    height: 20px;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.one img {
    max-height: 20%;
    max-width: 40%;
}
body{
    background-color: rgb(250,250,250);
}
a.classone {color: rgb(250,250,250);}
a.classone:hover {color: rgb(250,250,250);
    text-decoration: underline;}
a.classone:visited {color: rgb(250,250,250);
    text-decoration: none;}
a.classone:active {color: rgb(255,255,255);
    text-decoration: underline;}

a {color: #000080;}
a:hover {color: #000080;
    text-decoration: underline;}
a:visited {color: #800080;
    text-decoration: none;}
a:active {color: #000080;
    text-decoration: underline;}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1em;
    color: #000080;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
    font-size: 1.2em;
    color: #000080
}
li {
    font-size: 1.2em;
    color: #000080;
}
