.toppart {
    width: 80%;
    height: 7%;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.container {
    width: 80%;
    height: 80%;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.one {
    width: 20%;
    height: 80%;
    background: rgb(250,250,250);
    float: left;
    color: rgb(250,250,250);
}
.two {
    margin-left: 20%;
    height: 80%;
    background: rgb(250,250,250);
    color: #6e0307;
    padding: 10px;
}
.blurb{
    width: 80%;
    height: 5%;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.one img {
    max-height: 90%;
    max-width: 90%;
}
body{
    background-color: rgb(250,250,250);
}
a.classone {color: #6e0307;}
a.classone:hover {color: #6e0307;
    text-decoration: underline;}
a.classone:visited {color: #6e0307;
    text-decoration: none;}
a.classone:active {color: #6e0307;
    text-decoration: underline;
     font-weight: bold;}

a {color: #6e0307;}
a:hover {color: #6e0307;
    text-decoration: underline;}
a:visited {color: #6e0307;
    text-decoration: none;}
a:active {color: #6e0307;
    text-decoration: underline;}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1em;
    color: #6e0307;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
    font-size: 1.2em;
    color: #6e0307
}
li {
    font-size: 1.2em;
    color: #6e0307;
}
