.toppart {
    width: 80%;
    height: 7%;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.container {
    width: 80%;
    height: 80%;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.one {
    width: 20%;
    height: 80%;
    background: #2370db;
    float: left;
    color: rgb(250,250,250);
}
.two {
    margin-left: 20%;
    height: 80%;
    background: rgb(250,250,250);
    color: #5b5bc7;
    padding: 10px;
}
.blurb{
    width: 80%;
    height: 5%;
    background: rgb(250,250,250);
    margin: auto;
    padding: 0px;
}
.one img {
    max-height: 90%;
    max-width: 90%;
}
body{
    background-color: rgb(250,250,250);
}
a.classone {color: rgb(250,250,250);}
a.classone:hover {color: rgb(250,250,250);
    text-decoration: underline;}
a.classone:visited {color: rgb(250,250,250);
    text-decoration: none;}
a.classone:active {color: rgb(255,255,255);
    text-decoration: underline;}

a {color: #5b5bc7;}
a:hover {color: #000080;
    text-decoration: underline;}
a:visited {color: #732c96;
    text-decoration: none;}
a:active {color: #5b5bc7;
    text-decoration: underline;}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1em;
    color: #5b5bc7;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 2em;
}

ul.posts li {
    list-style: none;
    font-size: 2em;
}

li {
    font-size: 1.2em;
    color: #5b5bc7;
}
